.SearchMovie{
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;

}
.title{
    font-size:xx-large;
    
}
.Search{
    color: white;
    font-weight: bolder;
}
.search input[type="text"]{
    border: 1px solid #f6cd61;
    background-color: rgba(0, 0, 0, 0.171);
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 2px;
    width: 40em;
    padding: 20px;

}
button {
    background-color: #dfad31;
    border: none;
    color:white;
    font-weight: bolder;
    font-size: 16px;
    padding: 20px;
    cursor:pointer;
}